@import url(general-styles.css);

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    font-size: var(--boldText);
    margin-bottom: 1rem
}

#header div {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    padding: 0.5rem;
    text-align: center;
}

#header img {
    border-radius: 50%;
    width: 30%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

#header button {
    background-color:  var(--priColor);
    padding: 10px 20px;
    cursor: not-allowed;
    pointer-events: none;
    border: none;
    margin-top: 2rem;
}

#header button a {
    color: var(--secColor);
    font-weight: var(--boldText);
    font-size: var(--largeText);
}

#header h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    text-align: center;
}
#header h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-align: center;
}

@media (max-width: 600px) {
    #header h1 {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
    }
    #header h2 {
        font-size: 0.95rem;
        margin-bottom: 0.3rem;
    }
}

.zoom {
    margin: auto;
    max-width: 1440px;
    padding-left: 1rem;
    padding-right: 1rem;
}